#chord-diagram {
    height: 700px;
    width: 700px;
    display: block;
}

#bar-chart-radios{
    position:absolute;
    top:65%;
    left:65%;
}

#chord-diagram-control-container{
    display:flex;
    flex-direction: row;
    margin-left: 80px;
}

#chord-diagram-control-container > div{
    display:flex;
    flex-direction: column;
}

#chord-images {
    cursor: pointer;
}

#chord-legend{
    width:150px;
    height:20px;
}

#chord-story-telling{
    width: 600px;
    height: fit-content;
    font-size: 20px;
}


#title{
    text-align:center;    
}

html *
{
    font-family: Century Gothic !important;
}

#teamButtons{
    width: 944px;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
}

#teamButtons > input{
    width: 64px;
    height: 64px;
    margin: 15px;
    background-color: #4CAF50;
}

#chord-diagram-control-container{
    /* position: absolute;
    top:150%;
    left:10%;
    width: fit-content;
    height: fit-content; */
}

#predictionButtons{
    margin-left:570px;
}

#key-svg{
    width: 500px;
    height: 50px;
}

#line-chart {
    width: 1361px;
    height: 750px;
}

#bar-chart {
    width: 500px;
    height: 500px;
    float: right;
}

.image-border-correct {
    fill: transparent;
    stroke: green;
    stroke-width: 1.5;
    shape-rendering: crispEdges;
}

.image-border-wrong {
    fill: transparent;
    stroke: red;
    stroke-width: 1.5;

    shape-rendering: crispEdges;
}

.left {
    background-size: contain;
    background-repeat: no-repeat;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

}

.right {
    background-size: contain;
    background-repeat: no-repeat;

}
body {
    background-color: black;
}